// #Home
.button-section {
  height: 200px;
  background-color: $color1;
  padding: 74px 0;
}
.group-chore-list {
  background-color: $color3;
  padding: 50px 0;
  .container {
    // Chore and Group Tabs
    .tab-header {
      text-align: center;
      .row {
        margin: 0;
        a:hover {
          text-decoration: none;
        }
        .active-tab {
          background-color: #fff;
          border-radius: 5px 5px 0 0;
        }
        h1 {
          padding: 10px 0;
          margin-bottom: 0;
          font-size: 30px;
        }
      }
    }
    // Chore and Group Lists
    .list-content {
      background-color: #fff;
      .item-list {
        padding: 0;
        .list-group {
          a:hover {
            text-decoration: none;
          }
          .list-group-item {
            color: black;
            border-radius: 0;
            margin: 5px 10px;
            padding: 0;
            background-color: $color4;
            .row {
              height: 100%;
              margin: 0;
              line-height: 18px;
              .chore-group-name {
                background-color: $color5;
                text-align: center;
                padding: 2px;
                h5 {
                  font-size: 15px;
                  font-weight: bold;
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              .list-item-title {
                padding: 20px 5px;
              }
              .list-item-triangle {
                padding: 0;
                position: relative;
                background-color: $color3;
                .flip{
                  transform: rotate(-180deg);
                }
                img {
                  -moz-transition: transform 1s;
                  -webkit-transition: transform 1s;
                  transition: transform 1s;
                  max-height: 100%;
                  max-width: 100%;
                  width: auto;
                  height: auto;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
